server:
  port: 8081

spring:
  application:
    name: attendance-service

  datasource:
    url: jdbc:postgresql://localhost:5432/attendance-service
    username: postgres
    password: 12345678
    driver-class-name: org.postgresql.Driver

  jpa:
    database: POSTGRESQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: false